.progress_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 335px;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 30px;
}

.step {
  flex: 1;
  height: 6px;
  border-radius: 4px;
}

.active {
  background-color: #ff7e29;
}

.inactive {
  background-color: #e3e3e3;
}
