/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[userId]/mypage/_css/mypage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.mypage_page__CguZM {
  display: flex;
  position: relative;
}

.mypage_contents__xRTmW {
  flex: 1 1;
  padding: 0 30px;
}
.mypage_contents_title__G7Xv3 {
  font-size: 20px;
  font-weight: 600;
  color: #585858;
  text-align: left;
  padding: 30px 0;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/avatar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.avatar_avatar__0cnhO {
  display: flex;
  border: 1px solid var(--border-color);
  background-color: transparent;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.avatar_avatar__0cnhO img{
  width: 100%;
  height: 100%;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/button.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button_button__pV3cX {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--button-normal-bg-color);
  color: var(--font-black-color);
  border: none;
  cursor: pointer;
}

.button_button_checked__LT25n {
  background-color: var(--button-light-normal);
  color: white;
}

.button_button_filled__FPri6 {
  background-color: var(--primary-color);
  color: white;
}

.button_button_checked__LT25n a {
  color: white;
}
.button_button_filled__FPri6 a {
  color: white;
}

/* .button_checked:hover {
  background-color: var(--primary-hover-color);
}
.button_filled:hover {
  background-color: var(--primary-hover-color);
} */

.button_button_normal__Lrayw {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button_button_success__AlD6h {
  background-color: var(--success-color);
}

.button_button_warning__X31p5 {
  background-color: var(--error-color);
}

.button_button_disabled__oGM2s {
  border: none;
  color: #aaa;
  background-color: #e3e3e3;
  cursor: auto;
}

.button_button_transparent__llmbV {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.button_button_border__U9LsR {
  background-color: transparent;
  border: 1px solid #e3e3e3;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/checkbox.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.checkbox_component__goY91 {
  display: block;
}

.checkbox_label__H5ojC {
  position: relative;
  cursor: pointer;
}

.checkbox_inputCheckbox__P62YK {
  transform: translateY(3px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox_margin__RmPj7 {
  margin: 0px;
}

.checkbox_marginLeft__I5MCx {
  margin-left: 0px; /* Default margin left */
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/dropdown.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dropdown_dropdown__4a1ba {
  position: absolute;
  top: 0;
  margin-top: 10px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 8;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: none;
  width: 100%; /* 기본 너비 */
}

.dropdown_dropdown__4a1ba.dropdown_open__XARpL {
  display: inline-block;
}

.dropdown_left__XAcnL {
  left: 0;
}

.dropdown_right__wJWhT {
  right: 0;
}

.dropdown_center__a7MSM {
  left: 50%;
  transform: translateX(-50%);
}

.dropdown_radius_8__IDpt4 {
  border-radius: 8px;
}

.dropdown_radius_16__cSNaE {
  border-radius: 16px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/input.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.input_input_container__KLwrT {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input_label__51Pv4 {
  font-size: 14px;
  color: #818181;
}

.input_input_wrap__dGu2k {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  padding: 10px;
  background-color: #f7f7f7;
}

.input_input__R_OcA {
  flex: 1 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  width: 100%;
  line-height: 2;
  color: #333;
}

.input_input__R_OcA::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #969696;
}

.input_error__6_jkG {
  background-color: #ffeded;
}

.input_error_message__Jfd7S {
  font-size: 13px;
  color: #ff0000;
  font-weight: 500;
}
.input_sub_info_message__Qs0kJ {
  font-weight: 400;
  font-size: 13px;
  color: #999;
}
.input_success_message__WqtuL {
  font-weight: 400;
  font-size: 13px;
  color: #ff7e29;
}
/* .input:focus {
  border-color: #007bff;
} */
.input_disabled__vlpRE {
  background-color: #f1f1f1;
  cursor: not-allowed;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/radio.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/select.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.select_component__fQDyk {
  position: relative;
  padding: 0px;
}

.select_select_options_list___shKj {
  padding-top: 5px;
  position: absolute;
  top: 30px;
  margin-bottom: 0px;
  bottom: 0;
  left: '50%';
	transform: translateX(-25%);
  right: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
	background-color: #fff;
}

.select_list_item__mtPXz {
  width: 100%;
  background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}
.select_list_item__mtPXz:hover {
	background-color: var(--select-hover);
}
.select_first_list_item__oTKsW {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.select_last_list_item__7tzQu {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.select_list_item__mtPXz > button{
	border: none;
	padding: 5px 10px;
	background-color: transparent;
	cursor: pointer ;
}
.select_list_item__mtPXz > button > span{
	font-size: 13px;
	font-weight: 300;
	color: #585858;
}

.select_select_button___5fQw {
	border: none;
	background-color:  transparent;
	cursor: pointer;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.select_select_button___5fQw > span{
	display: inline-block;
	width: 40px;
	font-size: 13px;
	font-weight: 300;
	color: #585858;
	padding-right: 4px;
	padding-top: 2px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/tooltip.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tooltip_tooltip_container__8upvF {
  position: relative;
  display: inline-block;
}

/* 툴팁 스타일 */
.tooltip_tooltip__VqKJR {
  position: absolute;
  top: 100%;
  background: #f0f0f0;
  color: #585858;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 삼각형 (▲) */
.tooltip_tooltip_arrow__CzkYd {
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f0f0f0;
}

/* 위치 조정 */
.tooltip_tooltip_left__5EJCh {
  left: 0;
  transform: translateX(-10%);
}

.tooltip_tooltip_right__6uu3u {
  right: 0;
  transform: translateX(10%);
}

.tooltip_tooltip_center__71zXY {
  left: 50%;
  transform: translateX(-50%);
}

/* 삼각형 위치 */
.tooltip_tooltip_arrow_left__angxF {
  left: 20px;
}

.tooltip_tooltip_arrow_right___cwMV {
  right: 20px;
}

.tooltip_tooltip_arrow_center__fVBBo {
  left: 50%;
  transform: translateX(-50%);
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/search.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.search_component__8Bzuk {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 35px;
  font-size: 14px;
  margin: 0;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.search_input__PEPU2 {
  display: flex;
  width: 100%;
  flex: 1 0;
  font-size: 16px;
  padding: 6px;
  padding-left: 58px;
  border-radius: 0px;
  border: none;
  background-color: transparent;
  color: #585858;
}
.search_input__PEPU2::placeholder {
  font-size: 16px;
  color: #aaa;
}

.search_button__AkL3V {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search_error_message__YMOnQ {
  color: var(--error-color);
  font-size: 12px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/tabmenu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tabmenu_component__JWDmr {
  width: 100%;
	display: flex;
	align-items: center;
}

.tabmenu_tab_button__glxbX {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  cursor: pointer;
	padding: 5px;
  transition: all 0.1s;
}

.tabmenu_tab_button_active__CumSj {
	background: transparent;
  border-radius: 0px;
  border-bottom: 2px solid var(--primary-hover-color);
}

.tabmenu_tab_button_inactive__ekbch {
  background-color: transparent;
  border-bottom: 2px solid transparent;
}


.tabmenu_button_text__eqjbv {
  font-size: 14px;
}

.tabmenu_button_text_bold__bhw7p {
  font-weight: bold;
}

.tabmenu_button_text_active__3H56H {
  color: var(--primary-hover-color);
}

.tabmenu_button_text_inactive__xn1SE {
color: var(--font-black-color);
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[userId]/mypage/_css/profilesettings.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.profilesettings_contents__EFoLD {
  /* position: relative; */
}
.profilesettings_profile_img_button__k4Vij {
  display: flex;
  position: absolute;
  top: -60px;
  cursor: pointer;
}
.profilesettings_profile_edit_icon__Z86oX {
  position: absolute;
  bottom: -85px;
  left: -25px;
}
.profilesettings_profile_img__b28II {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ffebd4;
  overflow: hidden;
}
.profilesettings_dropdown_wrap__yQAPZ {
  position: relative;
}

.profilesettings_profile_setting_list_button__yNscG {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.profilesettings_profile_setting_list_button__yNscG:hover {
  background-color: #f0f0f0;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[userId]/mypage/_css/lnb.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.lnb_lnb__p9NZw {
  padding: 40px 10px;
}

.lnb_lnb_list__DhQyT {
  list-style: none;
  padding: 0;
}
.lnb_lnb_list_wrap__OWl5Y li {
  padding: 10px 20px;
}
.lnb_lnb_list_title__jSssW {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #585858;
  display: flex;
  padding-bottom: 5px;
}
.lnb_lnb_list__DhQyT li {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.lnb_lnb_list__DhQyT strong {
  font-size: 14px;
  color: #999;
  font-weight: 600;
}

.lnb_lnb_list__DhQyT button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #818181;
  display: flex;
  flex: 1 1;
}
.lnb_lnb_list__DhQyT button.lnb_on__MsbJY {
  color: #ff7e29;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[userId]/mypage/_css/sidebar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar_page__QYIkJ {
  width: 262px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.sidebar_top_list__1ceBz {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  position: relative;
}
.sidebar_top_list__1ceBz li {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_top_list_title__GzePQ {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 15px;
}
.sidebar_top_list_button__YUsyt {
  font-size: 16px;
  font-weight: 600;
  color: #585858;
  text-align: center;
  background: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  padding-bottom: 15px;
}

.sidebar_top_list__1ceBz li:not(:first-child) {
  position: relative;
}

.sidebar_top_list__1ceBz::before {
  content: "";
  width: calc(100% - 50px);
  height: 1px;
  background-color: #f0f0f0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar_top_list__1ceBz li:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 54px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[userId]/mypage/_css/yourpage.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.yourpage_page__R1wfH {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  grid-gap: 64px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .yourpage_page__R1wfH {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.yourpage_main__CWyrN {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.yourpage_main__CWyrN ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.yourpage_main__CWyrN li:not(:last-of-type) {
  margin-bottom: 8px;
}

.yourpage_main__CWyrN code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.yourpage_ctas__MwZjZ {
  display: flex;
  gap: 16px;
}

.yourpage_ctas__MwZjZ a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.yourpage_primary__2UXUA {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.yourpage_secondary__IVXDr {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.yourpage_footer__stn7o {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.yourpage_footer__stn7o a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.yourpage_footer__stn7o img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.yourpage_primary__2UXUA:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.yourpage_secondary__IVXDr:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .yourpage_footer__stn7o a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .yourpage_page__R1wfH {
    padding: 32px;
    padding-bottom: 80px;
  }

  .yourpage_main__CWyrN {
    align-items: center;
  }

  .yourpage_main__CWyrN ol {
    text-align: center;
  }

  .yourpage_ctas__MwZjZ {
    flex-direction: column;
  }

  .yourpage_ctas__MwZjZ a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.yourpage_secondary__IVXDr {
    min-width: auto;
  }

  .yourpage_footer__stn7o {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .yourpage_logo__k68VB {
    filter: invert();
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/_css/header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__VlzMU {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}
.header_header_box__J6AM0 {
  margin: 0 auto;
  width: 100%;
  max-width: 936px;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}

.header_logo__PMBUt a {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/_css/aside.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.aside_aside__DGCyd {
  display: flex;
}

.aside_aside__DGCyd button {
  display: flex;
  align-items: center;
}

.aside_aside__DGCyd span {
  font-size: 16px;
  font-weight: 500;
  color: #585858;
}

.aside_alaram_button__OEr7s {
  position: relative;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/_css/gnb.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.gnb_gnb_list__NYHhW {
  display: flex;
  flex: 1 0;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.gnb_gnb_item__EFksd {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #999;
}

.gnb_gnb_item_on__SK7zA {
  color: #585858;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[userId]/mypage/_css/mypagebanner.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.mypagebanner_banner_wrap__jTDsW {
  width: 100%;
  height: 242px;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fffaf5;
  background-image: url("/images/img-main-background.png");
}

