.dropdown {
  position: absolute;
  top: 0;
  margin-top: 10px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 8;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: none;
  width: 100%; /* 기본 너비 */
}

.dropdown.open {
  display: inline-block;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.scrollable {
  overflow-y: auto;
  max-height: 500px;
}
