.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  color: #818181;
}

.input_wrap {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  padding: 10px;
  background-color: #f7f7f7;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  width: 100%;
  line-height: 2;
  color: #333;
}

.input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #969696;
}

.error {
  background-color: #ffeded;
}

.error_message {
  font-size: 13px;
  color: #ff0000;
  font-weight: 500;
}
.sub_info_message {
  font-weight: 400;
  font-size: 13px;
  color: #999;
}
.success_message {
  font-weight: 400;
  font-size: 13px;
  color: #ff7e29;
}
/* .input:focus {
  border-color: #007bff;
} */
.disabled {
  background-color: #f1f1f1;
  cursor: not-allowed;
}
