.component {
  position: relative;
  padding: 0px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  width: 100%;
}

.select_options_list {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  height: fit-content;
}

.list_item {
  background-color: #fff;
  display: flex;
}
.list_item:hover {
  background-color: var(--select-hover);
}

.list_item > button {
  border: none;
  padding: 12px 15px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.list_item > button > span {
  font-size: 13px;
  font-weight: 300;
  color: #585858;
}

.select_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_button > span {
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: #585858;
  padding-right: 4px;
  padding-top: 2px;
}

.error_box {
  background-color: #ffeded;
  /* border: 1px solid #ff0000;
  border-radius: 6px; */
}
