.gnbList {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.gnbList a {
  font-size: 16px;
  font-weight: 500;
  color: #999;
}

.gnbItem {
  padding: 0 20px;
}

.gnbItem {
}
