/* reset css */
* {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a,
img,
fieldset {
  vertical-align: top;
  text-decoration: none;
  outline: 1;
}

textarea {
  resize: none;
}

table,
th,
td {
  border-collapse: collapse;
}

input,
select,
textarea,
form,
label {
  vertical-align: top;
  appearance: none;
  border: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 전역 공통 */
.sr_only {
  display: none;
}

.margin_0 {
  display: flex !important;
  margin: 0 !important;
}

.elipsis_1_lines {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elipsis_2_lines {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}
.elipsis_5_lines {
  /*  최대 5줄까지만 표시 */
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.elipsis_8_lines {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

:root {
  --primary-color: #ff7e29;
  --primary-color-300: #ffb271;
  --primary-hover-color: #fa8b31;
  --list-hover-bg-color: #fff6ed;
  --success-color: #28a745;
  --error-color: #dc3545;
  --button-normal-bg-color: #f0f0f0;
  --button-light-normal: #cccccc;
  --font-title-color: #000;
  --font-black-color: #000;
  --gray-color: #6c757d;
  --light-gray-color: #f8f9fa;
  --border-color: #eee;
  --select-hover: #f5f5f5;
  --title_color: #585858;
  --frame-color: #e3e3e3;
}

.background_shaow {
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 3px 3px;
}

/* 글로벌 CSS 파일에서 글로벌 스타일을 정의 */
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  border-color: #ffebd4;
  background-color: #ffebd4;
  color: #ffebd4;
  accent-color: #ffebd4 !important;
}
input[type="range"]:focus {
  outline: none;
  border-color: #ffebd4 !important;
  background: #ffebd4 !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ff7e29;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ff7e29;
  border-radius: 50%;
  cursor: pointer;
}

/* 폰트 */

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/PretendardVariable.woff2") format("woff2");
  font-weight: 100 200 300 400 500 600 800;
  font-style: normal;
}

/* 모바일 태블릿 사이즈로 변경시 */
@media screen and (max-width: 1024px) {
  .mobile_only {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background-color: #fff;
    border-top: 2px solid #ffebd4;
    z-index: 10000;
    text-align: center;
  }
  .mobile_only p {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
    color: #333;
  }
  .mobile_only_button {
    color: #ff7e29;
    padding: 10px 20px;
    background-color: #fff6ed;
    border: 1px solid #ffebd4;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
  }
  .desktop_only {
    display: none !important;
  }
}
