.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pageButton {
  padding: 6px 10px;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
  min-width: 36px;
}

.active {
  color: #ff7e29;
  font-weight: bold;
}
