.page {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.signup_wrap {
  width: 566px;
  height: 80vh;
  background-color: #fff;
  border-radius: 32px;
  position: relative;
  overflow-y: auto;
}

.logo_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: clamp(1em, 5vw, 2em); /* (최소, 기본, 최대) */
  padding-bottom: clamp(1.8em, 5vw, 4em);
}

.form_wrap {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 0 auto;
  min-height: 385px;
  margin-bottom: 100px;
}

.sub_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

.find_password {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.find_password_title {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 500;
}
.find_password_button {
  font-size: 14px;
  font-weight: 500;
  color: #ff7e29;
  padding: 0 10px;
}

.form_button {
  position: absolute;
  max-width: 335px;
  bottom: 20px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
}
