.list_box {
}
.list_button {
  display: flex;
  gap: 25px;
  width: 100%;
}
.list_img {
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
}
.list_info {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list_title {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #333;
  padding-top: 3px;
}
.list_user {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #aaa;
  padding: 15px 0 30px 0;
}
.icon_wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}
.count {
  font-size: 12px;
  color: #969696;
}
.list_contents {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  text-align: left;
  color: #969696;
}

/* 평가 태그  */
.rating_tag_good {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #ffebd4;
  background-color: #fff6ed;
  color: #ff7e29;
}
.rating_tag_bad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  color: #aaa;
}
