.sns_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.sns_list li {
  display: flex;
  align-items: center;
}

.sns_list button {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
