/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* reset css */
* {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  outline: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a,
img,
fieldset {
  vertical-align: top;
  text-decoration: none;
  outline: 1;
}

textarea {
  resize: none;
}

table,
th,
td {
  border-collapse: collapse;
}

input,
select,
textarea,
form,
label {
  vertical-align: top;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* 전역 공통 */
.sr_only {
  display: none;
}

.margin_0 {
  display: flex !important;
  margin: 0 !important;
}

.elipsis_1_lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elipsis_2_lines {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  height: auto;
}

.elipsis_8_lines {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 8 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  height: auto;
}

:root {
  --primary-color: #ff7e29;
  --primary-color-300: #ffb271;
  --primary-hover-color: #fa8b31;
  --list-hover-bg-color: #fff6ed;
  --success-color: #28a745;
  --error-color: #dc3545;
  --button-normal-bg-color: #f0f0f0;
  --button-light-normal: #cccccc;
  --font-title-color: #000;
  --font-black-color: #000;
  --gray-color: #6c757d;
  --light-gray-color: #f8f9fa;
  --border-color: #eee;
  --select-hover: #f5f5f5;
  --title_color: #585858;
  --frame-color: #e3e3e3;
}

.background_shaow {
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 3px 3px;
}

/* 글로벌 CSS 파일에서 글로벌 스타일을 정의 */
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  border-color: #ffebd4;
  background-color: #ffebd4;
  color: #ffebd4;
  accent-color: #ffebd4 !important;
}
input[type="range"]:focus {
  outline: none;
  border-color: #ffebd4 !important;
  background: #ffebd4 !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ff7e29;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ff7e29;
  border-radius: 50%;
  cursor: pointer;
}

/* 폰트 */

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-Black.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-Black.woff") format("woff");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-ExtraBold.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-Bold.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-SemiBold.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-Medium.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-Medium.woff") format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-Regular.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-Regular.woff") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-Light.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-Light.woff") format("woff");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/woff2/Pretendard-Thin.woff2") format("woff2"),
    url("/fonts/woff/Pretendard-Thin.woff") format("woff");
  font-weight: 100; /* Thin */
  font-style: normal;
}

