/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/css/aside.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.aside_aside__l0lQE {
  display: flex;
}

.aside_aside__l0lQE button {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: none;
  cursor: pointer;
}

.aside_aside__l0lQE span {
  font-size: 16px;
  font-weight: 500;
  color: #585858;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/avatar.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.avatar_avatar__NMsNY {
  display: flex;
  border: 1px solid var(--border-color);
  background-color: transparent;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.avatar_avatar__NMsNY img{
  width: 100%;
  height: 100%;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/button.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button_button__6lIMa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--button-normal-bg-color);
  color: var(--font-black-color);
  border: none;
	cursor: pointer;
}

.button_button_checked__vuqd6 {
  background-color: var(--button-light-normal);
  color: white;
}

.button_button_filled__N54lZ {
  background-color: var(--primary-color);
  color: white;
}

.button_button_checked__vuqd6 a {color: white;}
.button_button_filled__N54lZ a {color: white;}

.button_button_checked__vuqd6:hover {
  background-color: var(--primary-hover-color);
}
.button_button_filled__N54lZ:hover {
  background-color: var(--primary-hover-color);
}

.button_button_normal__m4wBm {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button_button_success__1eh3j {
  background-color: var(--success-color);
}

.button_button_warning__z5_m3 {
  background-color: var(--error-color);
}

.button_button_disabled__LvHjy {
  border: none;
  color: #d1d1d1;
  background-color: #e3e3e3;
  cursor: auto;
}
.button_button_disabled__LvHjy:hover {
  background-color: var(--light-gray-color);
}

.button_button_transparent__yqCsu {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/checkbox.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.checkbox_component__9bi8e {
  display: block;
}

.checkbox_label__hItMQ {
  position: relative;
  cursor: pointer;
}

.checkbox_inputCheckbox__gRzM1 {
  transform: translateY(3px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox_margin__1wWqv {
  margin: 0px;
}

.checkbox_marginLeft__kkftG {
  margin-left: 0px; /* Default margin left */
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/dropdown.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dropdown_component__i2hnT {
  position: relative;
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--primary-color);
}

.dropdown_component__i2hnT  > button {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	padding:  0 30px 0 15px;
	position: relative;
}
.dropdown_component__i2hnT > button >  .dropdown_icon_position__4wiKy {
position: absolute !important;
right: 5px;
transition: all 0.1s;
transform: rotate(180deg);
}
.dropdown_component__i2hnT  > button > span {
	font-size: 15px;
	padding-left: 2px;
	text-align: left;
	font-weight: normal;
}

.dropdown_icon_arrow_motion__SHFAb {
	transform: rotate(0deg) !important;
}

.dropdown_dropdown_list__xLMo3 {
  position: absolute;
  top: 36px;
  left: 50%;
	width: 100%;
  transform: translateX(-50%);
  background-color: #fff;
  /* border: 1px solid var(--border-color); */
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.dropdown_list_item__pGkWU {
  width: 100%;
  display: flex;
  align-items: center;
	padding: 10px 40px;
	cursor: pointer;
	overflow: hidden;
}
.dropdown_list_item_bullets__cy29q {
	letter-spacing: 0.1px;
	width: 40px;
	font-weight: bold;
	font-size: 16px;
	display: flex;
}
.dropdown_component__i2hnT  .dropdown_button__fRxTN {
	display: flex;
	flex: 1 0;
	align-items: center;
  border: none;
  background-color: transparent;
  color: var(--color-gray);
  transition: all 0.1s;
	cursor: pointer;

}
.dropdown_component__i2hnT  .dropdown_button__fRxTN span {
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}

.dropdown_list_item__pGkWU:hover {
  background-color: var(--list-hover-bg-color);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/input.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/radio.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/select.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.select_component__sifKA {
  position: relative;
  padding: 0px;
}

.select_select_options_list__9e7Pa {
  padding-top: 5px;
  position: absolute;
  top: 30px;
  margin-bottom: 0px;
  bottom: 0;
  left: '50%';
	transform: translateX(-25%);
  right: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
	background-color: #fff;
}

.select_list_item__gw3AF {
  width: 100%;
  background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}
.select_list_item__gw3AF:hover {
	background-color: var(--select-hover);
}
.select_first_list_item__nJC2_ {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.select_last_list_item__l6sfO {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.select_list_item__gw3AF > button{
	border: none;
	padding: 5px 10px;
	background-color: transparent;
	cursor: pointer ;
}
.select_list_item__gw3AF > button > span{
	font-size: 13px;
	font-weight: 300;
	color: #585858;
}

.select_select_button__f9B4H {
	border: none;
	background-color:  transparent;
	cursor: pointer;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.select_select_button__f9B4H > span{
	display: inline-block;
	width: 40px;
	font-size: 13px;
	font-weight: 300;
	color: #585858;
	padding-right: 4px;
	padding-top: 2px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/textarea.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/toggle.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/tooltip.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.search_component__HqYfL {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 35px;
  font-size: 14px;
  margin: 0;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--point-gray);
  overflow: hidden;
  position: relative;
}

.search_input__3Jiic {
  display: flex;
  width: 100%;
  flex: 1 0;
  font-size: 14px;
  padding: 6px 30px 6px 12px;
  border-radius: 0px;
  border: none;
  background-color: transparent;
}
.search_input__3Jiic::placeholder {
	font-size: 14px;
	color: #969696;
}

.search_button__N19qf {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search_error_message__bDWj7 {
  color: var(--error-color);
  font-size: 12px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/css/tabmenu.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tabmenu_component__fFdc3 {
  width: 100%;
	display: flex;
	align-items: center;
}

.tabmenu_tab_button__b_t7B {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  cursor: pointer;
	padding: 5px;
  transition: all 0.1s;
}

.tabmenu_tab_button_active__jRYWp {
	background: transparent;
  border-radius: 0px;
  border-bottom: 2px solid var(--primary-hover-color);
}

.tabmenu_tab_button_inactive__AOq8U {
  background-color: transparent;
  border-bottom: 2px solid transparent;
}


.tabmenu_button_text__yw51o {
  font-size: 14px;
}

.tabmenu_button_text_bold__84TPZ {
  font-weight: bold;
}

.tabmenu_button_text_active__ZR3Hw {
  color: var(--primary-hover-color);
}

.tabmenu_button_text_inactive__fkBy8 {
color: var(--font-black-color);
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/css/header.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_page__VC8EO {
  margin: 0 auto;
  width: 100%;
  max-width: 936px;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}

.header_logo__S8zAE a {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/css/gnb.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.gnb_gnbList__Kwm32 {
  display: flex;
  flex: 1 0;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.gnb_gnbList__Kwm32 a {
  font-size: 16px;
  font-weight: 500;
  color: #999;
}

.gnb_gnbItem__0jsFz {
  padding: 0 20px;
}

.gnb_gnbItem__0jsFz {
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/themeButton/theme.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

