.notification_item {
  overflow: hidden;
}
.item_button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  background-color: #fff;
}
.item_admin {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.button_wrap {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}
.item_profile_wrap {
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  overflow: hidden;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}
.item_admin_img {
  margin-right: 10px;
}
.contents_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contents {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.5; /* 줄 높이 조절 */
  max-height: calc(1.5em * 2); /* 2줄 기준 높이 */
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  padding-right: 5px;
}
.contents_bold {
  font-weight: 800;
}
.contents_date {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #aaa;
  display: flex;
}
