/* 프로필 상단 이미지 */
.dropdown_wrap {
  position: relative;
}
.profile_img_button {
  display: flex;
  position: absolute;
  top: -60px;
  cursor: pointer;
}
.profile_edit_icon {
  position: absolute;
  bottom: -85px;
  left: -25px;
}
.profile_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ffebd4;
  overflow: hidden;
}
.profile_setting_list_button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.profile_setting_list_button:hover {
  background-color: #f0f0f0;
}

/* 프로필 인포 */
.profile_box {
  padding-top: 75px;
}
.dropdown_wrap {
  position: relative;
}
.profile_name {
}
.profile_info {
}
.profile_tgs {
}
.profile_tgs li {
}
/* 프로필 정보 수정 폼 */
.profile_form {
}

/* 프로필 하단 버튼 */
.profile_bottom_buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* 마이페이지 모달 */
.modal {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #000;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 12px;
}
.modal_title_left {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  width: 100%;
  padding-bottom: 12px;
  color: #585858;
}
.modal_info {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #6a6a6a;
  padding-bottom: 40px;
}
.modal_info_left {
  font-size: 12px;
  display: inline-flex;
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: #6a6a6a;
  padding-bottom: 30px;
}
.button_wrap {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 20px;
}
