.page {
  display: flex;
  flex-direction: column;
}

.list_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 936px;
  margin: 0 auto;
  gap: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.user_info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 40px;
  border-bottom: 3px solid #f0f0f0;
}

.profile_img_box {
  display: flex;
  position: absolute;
  top: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ffebd4;
  overflow: hidden;
}
.profile_box {
  padding-top: 75px;
  max-width: 510px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.profile_name {
  font-size: 20px;
  font-weight: 700;
  color: #585858;
}
.profile_info {
  font-size: 16px;
  font-weight: 500;
  color: #818181;
}
.profile_tgs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.profile_tgs li {
  color: #585858;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 게시글 덕후 덕질 버튼 리스트 */
.info_list {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}
.info_list li {
  width: 33%;
}
.info_list li:not(:first-child) {
  position: relative;
}
.info_list > li:not(:first-child)::before {
  content: "";
  width: 2px;
  height: 76px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
}
.info_list_title {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}
.info_list_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  color: #585858;
  padding: 20px;
}

/* 드롭다운 리스트 css */
.follow_list {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: auto;
  gap: 30px;
}
.follow_list li {
  width: 100%;
}
