/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/_css/header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__VlzMU {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}
.header_header_box__J6AM0 {
  margin: 0 auto;
  width: 100%;
  max-width: 936px;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}

.header_logo__PMBUt a {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/_css/aside.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.aside_aside__DGCyd {
  display: flex;
}

.aside_aside__DGCyd button {
  display: flex;
  align-items: center;
}

.aside_aside__DGCyd span {
  font-size: 16px;
  font-weight: 500;
  color: #585858;
}

.aside_alaram_button__OEr7s {
  position: relative;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/button.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button_button__pV3cX {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--button-normal-bg-color);
  color: var(--font-black-color);
  border: none;
  cursor: pointer;
}

.button_button_checked__LT25n {
  background-color: var(--button-light-normal);
  color: white;
}

.button_button_filled__FPri6 {
  background-color: var(--primary-color);
  color: white;
}
.button_button_filled_dark__ckuUl {
  background-color: #6a6a6a;
  color: white;
}
.button_button_bright_filled__sAXTF {
  background-color: #ffebd4;
  color: #ff7e29;
}

.button_button_checked__LT25n a {
  color: white;
}
.button_button_filled__FPri6 a {
  color: white;
}

.button_button_normal__Lrayw {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button_button_success__AlD6h {
  background-color: var(--success-color);
}

.button_button_warning__X31p5 {
  background-color: var(--error-color);
}

.button_button_disabled__oGM2s {
  border: none;
  color: #aaa;
  background-color: #e3e3e3;
  cursor: auto;
}

.button_button_transparent__llmbV {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.button_button_border__U9LsR {
  background-color: transparent;
  border: 1px solid #e3e3e3;
}

.button_button_inline_text__fH5BU {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  font-size: inherit;
  font-weight: normal;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/checkbox.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.checkbox_component__goY91 {
  display: block;
}

.checkbox_label__H5ojC {
  position: relative;
  cursor: pointer;
}

.checkbox_inputCheckbox__P62YK {
  transform: translateY(3px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox_margin__RmPj7 {
  margin: 0px;
}

.checkbox_marginLeft__I5MCx {
  margin-left: 0px; /* Default margin left */
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/dropdown.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dropdown_dropdown__4a1ba {
  position: absolute;
  top: 0;
  margin-top: 10px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 8;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: none;
  width: 100%; /* 기본 너비 */
}

.dropdown_dropdown__4a1ba.dropdown_open__XARpL {
  display: inline-block;
}

.dropdown_left__XAcnL {
  left: 0;
}

.dropdown_right__wJWhT {
  right: 0;
}

.dropdown_center__a7MSM {
  left: 50%;
  transform: translateX(-50%);
}

.dropdown_radius_8__IDpt4 {
  border-radius: 8px;
}

.dropdown_radius_16__cSNaE {
  border-radius: 16px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/input.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.input_input_container__KLwrT {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input_label__51Pv4 {
  font-size: 14px;
  color: #818181;
}

.input_input_wrap__dGu2k {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  padding: 10px;
  background-color: #f7f7f7;
}

.input_input_line_wrap__Ga2Di {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
}
.input_input_line_wrap__Ga2Di .input_input__R_OcA::placeholder {
  color: #e3e3e3;
}

.input_input__R_OcA {
  flex: 1 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  width: 100%;
  line-height: 2;
  color: #333;
}

.input_input__R_OcA::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #969696;
}

.input_error__6_jkG {
  background-color: #ffeded;
}

.input_error_message__Jfd7S {
  font-size: 13px;
  color: #ff0000;
  font-weight: 500;
}
.input_sub_info_message__Qs0kJ {
  font-weight: 400;
  font-size: 13px;
  color: #999;
}
.input_success_message__WqtuL {
  font-weight: 400;
  font-size: 13px;
  color: #ff7e29;
}
/* .input:focus {
  border-color: #007bff;
} */
.input_disabled__vlpRE {
  background-color: #f1f1f1;
  cursor: not-allowed;
}

.input_important__CTEQn {
  color: #ff0000;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/radio.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/select.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.select_component__fQDyk {
  position: relative;
  padding: 0px;
}

.select_select_options_list___shKj {
  padding-top: 5px;
  position: absolute;
  top: 30px;
  margin-bottom: 0px;
  bottom: 0;
  left: '50%';
	transform: translateX(-25%);
  right: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
	background-color: #fff;
}

.select_list_item__mtPXz {
  width: 100%;
  background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}
.select_list_item__mtPXz:hover {
	background-color: var(--select-hover);
}
.select_first_list_item__oTKsW {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.select_last_list_item__7tzQu {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.select_list_item__mtPXz > button{
	border: none;
	padding: 5px 10px;
	background-color: transparent;
	cursor: pointer ;
}
.select_list_item__mtPXz > button > span{
	font-size: 13px;
	font-weight: 300;
	color: #585858;
}

.select_select_button___5fQw {
	border: none;
	background-color:  transparent;
	cursor: pointer;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.select_select_button___5fQw > span{
	display: inline-block;
	width: 40px;
	font-size: 13px;
	font-weight: 300;
	color: #585858;
	padding-right: 4px;
	padding-top: 2px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/tooltip.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tooltip_tooltip_container__8upvF {
  position: relative;
  display: inline-block;
}

/* 툴팁 스타일 */
.tooltip_tooltip__VqKJR {
  position: absolute;
  top: 100%;
  background: #f0f0f0;
  color: #585858;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 삼각형 (▲) */
.tooltip_tooltip_arrow__CzkYd {
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f0f0f0;
}

/* 위치 조정 */
.tooltip_tooltip_left__5EJCh {
  left: 0;
  transform: translateX(-10%);
}

.tooltip_tooltip_right__6uu3u {
  right: 0;
  transform: translateX(10%);
}

.tooltip_tooltip_center__71zXY {
  left: 50%;
  transform: translateX(-50%);
}

/* 삼각형 위치 */
.tooltip_tooltip_arrow_left__angxF {
  left: 20px;
}

.tooltip_tooltip_arrow_right___cwMV {
  right: 20px;
}

.tooltip_tooltip_arrow_center__fVBBo {
  left: 50%;
  transform: translateX(-50%);
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/search.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.search_component__8Bzuk {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 35px;
  font-size: 14px;
  margin: 0;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.search_input__PEPU2 {
  display: flex;
  width: 100%;
  flex: 1 0;
  font-size: 16px;
  padding: 6px;
  padding-left: 58px;
  border-radius: 0px;
  border: none;
  background-color: transparent;
  color: #585858;
}
.search_input__PEPU2::placeholder {
  font-size: 16px;
  color: #aaa;
}

.search_button__AkL3V {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search_error_message__YMOnQ {
  color: var(--error-color);
  font-size: 12px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/tabmenu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tabmenu_component__JWDmr {
  width: 100%;
	display: flex;
	align-items: center;
}

.tabmenu_tab_button__glxbX {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  cursor: pointer;
	padding: 5px;
  transition: all 0.1s;
}

.tabmenu_tab_button_active__CumSj {
	background: transparent;
  border-radius: 0px;
  border-bottom: 2px solid var(--primary-hover-color);
}

.tabmenu_tab_button_inactive__ekbch {
  background-color: transparent;
  border-bottom: 2px solid transparent;
}


.tabmenu_button_text__eqjbv {
  font-size: 14px;
}

.tabmenu_button_text_bold__bhw7p {
  font-weight: bold;
}

.tabmenu_button_text_active__3H56H {
  color: var(--primary-hover-color);
}

.tabmenu_button_text_inactive__xn1SE {
color: var(--font-black-color);
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/navigation/_css/gnb.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.gnb_gnb_list__NYHhW {
  display: flex;
  flex: 1 0;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.gnb_gnb_item__EFksd {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #999;
}

.gnb_gnb_item_on__SK7zA {
  color: #585858;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/writing/_css/writingform.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.writingform_page__QyFfG {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.writingform_writing_form_box__8FaHZ {
  width: 1016px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 40px;
  border-radius: 20px;
}
.writingform_back_button__RkBEu {
  padding-right: 20px;
}
.writingform_page_title__6IkGU {
  font-size: 28px;
  font-weight: 600;
  padding: 20px 0;
  text-align: left;
  color: #585858;
  display: flex;
  align-items: center;
  width: 100%;
}
.writingform_writing_form__vHvTD {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
  width: 100%;
}
.writingform_writing_info__ZuC2p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  color: #d1d1d1;
}
.writingform_writing_form_button__AP68Y {
  padding: 20px 0;
}

/* 글쓰기 페이지 모달 */
.writingform_modal__lCmLZ {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.writingform_modal_title__SHGij {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #000;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 12px;
}

.writingform_modal_info__UbXFk {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #6a6a6a;
  padding-bottom: 40px;
}

.writingform_button_wrap__bGizz {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 20px;
}

.writingform_input_container__1972o {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.writingform_custom_label__blt71 {
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  color: #818181;
  padding-bottom: 15px;
}
.writingform_input_info__ZVOmz {
  font-weight: 400;
  font-size: 16px;
  vertical-align: middle;
  color: #d1d1d1;
  padding-bottom: 20px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/modal/modal.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal_overlay__l352C {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modal_modal__fW9Wr {
  background-color: #fff;
  min-width: 300px;
  min-height: 100px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/_components/atoms/_css/textarea.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.textarea_textarea_wrapper__dGtgx {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.textarea_textarea_wrapper__dGtgx label {
  font-size: 14px;
  color: #818181;
}

.textarea_textarea_box__uyc2_ {
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  background-color: #fff;
  padding-bottom: 25px;
  position: relative;
}
.textarea_textarea_box_filled__rxU9F {
  padding: 15px;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  background-color: #f7f7f7;
  position: relative;
}
.textarea_textarea__YZrXt {
  resize: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}

.textarea_textarea__YZrXt::placeholder {
  font-size: 14px;
  color: #e3e3e3;
}

.textarea_sub_info__0tSaL {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #e3e3e3;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/writing/_css/taginput.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.taginput_tags_input_wrap__1MrTb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.taginput_tag_input_container__Jq1mN {
  background-color: #fff6ed;
  display: inline-flex;
  width: auto;
  font-size: 16px;
  border-radius: 20px;
  overflow: hidden;
  padding: 8px 10px;
  padding-left: 20px;
}
.taginput_tag_input_container_dark__SWZOJ {
  background-color: #f0f0f0;
  display: inline-flex;
  width: auto;
  font-size: 16px;
  border-radius: 20px;
  overflow: hidden;
  padding: 8px 10px;
  padding-left: 20px;
}
.taginput_tag_input_container__Jq1mN .taginput_tag_input__lwJc2 {
  background-color: #fff6ed;
  color: var(--primary-color);
  padding-right: 10px;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  min-width: 20px; /* 최소 크기 설정 */
  outline: none;
  flex-grow: 1;
}
.taginput_tag_input_container_dark__SWZOJ .taginput_tag_input__lwJc2 {
  color: #333;
  padding-right: 10px;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  min-width: 20px; /* 최소 크기 설정 */
  outline: none;
  flex-grow: 1;
}
.taginput_hidden_span__OmiMv {
  position: absolute;
  visibility: hidden;
  white-space: pre; /* 공백을 그대로 유지하여 정확한 너비 계산 */
  font-size: 14px; /* input과 동일한 스타일을 유지 */
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_@opentelemetry+api@1.9.0_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/writing/_css/evaluationselector.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.evaluationselector_selector_wrapper__PAipS {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.evaluationselector_select_button___ymV9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff6ed;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: 70px;
}

.evaluationselector_active__omXOU {
  background-color: #ffd2a8;
}

.evaluationselector_label__hIdG9 {
  font-size: 13px;
  color: #969696;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
/* 다크모드 일시 */
.evaluationselector_select_button_dark__h4mcX {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: 70px;
}
.evaluationselector_active_dark__hfs9c {
  background-color: #969696;
}

